<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-item-center">
      <h2>About Us</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Library</li>
          </ol>
    </div>
  </div>
</section>
<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <%= image_tag('about.jpg', class: "about-img") %>
      </div>
      <div class="col-6">
        <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
        <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <ul>
          <li>
            <i class="bi bi-check2-circle"></i>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </li>
          <li>
            <i class="bi bi-check2-circle"></i>
              Duis aute irure dolor in reprehenderit in voluptate velit.
            </li>
          <li>
            <i class="bi bi-check2-circle"></i>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.
          </li>
        </ul>
        <p class="m-p">Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section-bg">
  <div class="container">
    <div class="row">
      <div class="col-3 text-center">
        <span class="precounter">232</span>
        <p>Clients</p>
      </div>
      <div class="col-3 text-center">
        <span class="precounter">521</span>
        <p>Projects</p>
      </div>
      <div class="col-3 text-center">
        <span class="precounter">1463</span>
        <p>Hours Of Support</p>
      </div>
      <div class="col-3 text-center">
        <span class="precounter">15</span>
        <p>Hard Workers</p>
      </div>
    </div>
  </div>
</section>
<section class="client">
  <div class="container">
   <div class="row">
    <div class="col-2">
      <%= image_tag('client-1.png', class: "client-img") %>
    </div>
    <div class="col-2">
      <%= image_tag('client-2.png', class: "client-img") %>
    </div>
    <div class="col-2">
      <%= image_tag('client-3.png', class: "client-img") %>
    </div>
    <div class="col-2">
      <%= image_tag('client-4.png', class: "client-img") %>
    </div>
    <div class="col-2">
      <%= image_tag('client-5.png', class: "client-img") %>
    </div>
    <div class="col-2">
      <%= image_tag('client-6.png', class: "client-img") %>
    </div>
   </div>
  </div>
</section>
<section class="m-progress">
  <div class="container">
    <div class="m-progress-title">
      <h2>Our Skills</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>
    <div class="progress-1">
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
         <span class="html-t">HTML
          <i class="percentage">100%</i>
         </span>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
         <span class="html-t">CSS
          <i class="percentage">90%</i>
         </span>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
         <span class="html-t">JAVASCRIPT
          <i class="percentage">75%</i>
         </span>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
         <span class="html-t">PHOTOSHOPE
          <i class="percentage">55%</i>
         </span>
        </div>
      </div>
    </div>
  </div> 
</section>
<section>
  <div class="container">
    <div class="m-progress-title">
      <h2>Tetstimonials</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="tetsimonials">
            <div class="tetsimonials-img">
              <%= image_tag('testimonials-1.jpg', class: "tetsimonials-img")%>
            </div>
            <div>
              <h3>Saul Goodman</h3>
              <h4>Ceo & Founder</h4>
              <p>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</p>  
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="tetsimonials">
            <div class="tetsimonials-img">
              <%= image_tag('testimonials-2.jpg', class: "tetsimonials-img")%>
            </div>
            <div>
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
              <p>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</p>  
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="tetsimonials">
            <div class="tetsimonials-img">
              <%= image_tag('testimonials-3.jpg', class: "tetsimonials-img")%>
            </div>
            <div>
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
              <p>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</p>  
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="tetsimonials">
            <div class="tetsimonials-img">
              <%= image_tag('testimonials-4.jpg', class: "tetsimonials-img")%>
            </div>
            <div>
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
              <p>Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.</p>  
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="tetsimonials">
            <div class="tetsimonials-img">
              <%= image_tag('testimonials-5.jpg', class: "tetsimonials-img")%>
            </div>
            <div>
              <h3>Jhon Larson</h3>
              <h4>Enterpreneur</h4>
              <p>Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.</p>  
            </div>
          </div>
      </div>
    </div>    
  </div>
</section>